/*******************************************************************************
**
** _variables.scss
**
** A partial SCSS file that defines variables.
**
*******************************************************************************/


// https://flagcolor.com/american-flag-colors/
$american-flag-red: #BF0D3E;
$american-flag-white: #FFFFFF;
$american-flag-blue: #041E42;

// https://flagcolor.com/russia-flag-colors/
$russian-flag-red: #EF3340;
$russian-flag-white: #FFFFFF;
$russian-flag-blue: #0072CE;
