////////////////////////////////////////////////////////////////////////////////
//
// App.scss
//
// Provides styling for App.jsx.
//
////////////////////////////////////////////////////////////////////////////////


 

.status-notification-message-area {
    background-color: blue;
    border: .2rem solid red;
    border-radius: 1rem;
    color: white;
    font-size: 1.2rem;
    margin: 1rem auto 1rem auto;
    max-height: 30%;
    min-height: 30%;
    padding: .5rem;
    text-align: center;
    width: 70%;
}

.div--centered-content {
    display: flex;
    justify-content: center;
}

.buttons__actions {
    display: flex;
    justify-content: center;

    .button__action {
        margin: .5rem;
    }
}