////////////////////////////////////////////////////////////////////////////////
//
// flashcards-views.scss
//
// Provides styling that is specific to the Russian Flashcards view components.
//
////////////////////////////////////////////////////////////////////////////////




form {
    margin: 0 auto;
    width: 50%;
}

.form--centered {
    margin: 0 auto 2rem auto;
}


#span-language {
    margin-right: 1rem;
}

.input__control {
    display: inline;
}

.buttons__actions {
    display: flex;
    justify-content: center;

    .button__action {
        margin: .5rem;
    }
}

.scrollable-flashcards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    height: 9rem;
    margin-bottom: 2rem;
}

.flashcard {
    margin: 1rem;
    border: .1rem solid red;
    border-radius: 1rem;
    padding: 1rem;
}